body {
  background: linear-gradient(to top right, #65dfc9, #6cdbeb);
  background-color: #89cff0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 800px;
  height: 300px;
  border: 2px solid black;
}

html {
  scroll-behavior: smooth;
}
.back {
  background: white;
  min-height: 100vh;
  width: 70%;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
h4 {
  color: rgb(80, 80, 80);
  font-family: Calibri;
}
h2 {
  font-family: Calibri;
  color: #3a687e;
}
h3 {
  font-family: Calibri;
  color: #3a687e;
}
.but {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border: 2px solid transparent;
  box-shadow: none;
  transition: 0.2s;
  font-family: Calibri;
  font-size: large;
  color: #245166;
  margin-right: 5px;
}

.but:hover {
  background-color: rgb(255, 166, 0);
  border-color: rgb(255, 166, 0);
  color: white;
  opacity: 1;
}
.backborder {
  width: 75%;
}
.content {
  padding-top: 20px;
}
.nav {
  padding-top: 50px;
}
.Logo {
  padding-bottom: 20px;
}
.guide {
  margin-top: 10px;
}
.like {
  margin-left: 30px;
}
#textbox {
  height: 90px;
  font-size: 12pt;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 15px;
  opacity: 0.3;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-color: transparent;
}

form {
  display: block;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.formbut {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border: 2px solid transparent;
  box-shadow: none;
  transition: 0.2s;
  font-family: Calibri;
  font-size: large;
  color: #245166;
  margin-right: 5px;
}
.formbut:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.photo {
  border: 20px solid rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.onephoto {
  padding-left: 20px;
  padding-right: 20px;
}
