body {
  background: linear-gradient(to top right, #65dfc9, #6cdbeb);
  background-color: #89cff0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 80%;
  height: 300px;
  border: 2px solid black;
}

html {
  scroll-behavior: smooth;
}
.back {
  background: white;
  min-height: 100vh;
  width: 65%;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
h4 {
  color: rgb(80, 80, 80);
  font-family: Calibri;
}
h2 {
  font-family: Calibri;
  color: #3a687e;
}
h3 {
  font-family: Calibri;
  color: #3a687e;
  margin-bottom: 0px;
}
.but {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(to top right, #89eedb, #86e3f1);
  border-color: transparent;
  border: 2px solid transparent;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  font-family: Calibri;
  font-size: large;
  color: #245166;
  animation-fill-mode: backwards;
  margin-right: 5px;
}

.but:hover {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  background-color: rgb(255, 166, 0);
  border-color: rgb(255, 166, 0);
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 1;
}
.backborder {
  width: 75%;
}
.content {
  padding-top: 20px;
}
.nav {
  padding-top: 0px;
  position: fixed;
  left: 0%;
  top: 3%;
  right: 100%;
}
.Logo {
  padding-top: 70px;
}
.guide {
  margin-top: 10px;
}
.like {
  margin-left: 30px;
}
#textbox {
  resize: none;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 60%;
  font-size: 12pt;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 15px;
  opacity: 1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-color: transparent;
}

form {
  display: block;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.photo {
  border: 15px solid rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.5s;
}
.photo:hover {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.3)
  );
  transform: scale(1.1);
}
.onephoto {
  padding-left: 20px;
  padding-right: 20px;
}
.QNA {
  text-align: center;
  list-style-position: inside;
}
.circlebutton {
  width: 40px;
  height: 40px;
  background-color: #6cdbeb;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.4)
  );
  position: fixed;
  border-radius: 20px;
  bottom: 20px;
  left: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  align-items: center;
}
.circlebutton:hover {
  transform: translateY(-5px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  background-color: rgb(255, 153, 0);
  color: black;
}
.top {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: x-large;
  margin-top: 5px;
}
.butphoto {
  margin-top: 8px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
table {
  font-family: Calibri;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #fcae39;
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #ffc250;
}
table {
  table-layout: fixed;
  width: 100%;
  border-radius: 5px;
}
